In [3]:
import pandas as pd
import numpy as np

ser1=pd.Series([10,9,6,5,3,1,12,8,13])
ser2=pd.Series([1,3,10,13])
print(ser1)
print(ser2)

0    10
1     9
2     6
3     5
4     3
5     1
6    12
7     8
8    13
dtype: int64
0     1
1     3
2    10
3    13
dtype: int64

In [18]:
for i in ser2:
    n=ser1[ser1==i].index.to_list()
    print(n)

[5]
[4]
[0]
[8]