In [2]:
import sqlite3

conn = sqlite3.connect("product.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE IF NOT EXISTS product (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL NOT NULL,
    amount INTEGER NOT NULL
)
""")

conn.commit()

them san pham

In [3]:
cur.execute(
    "INSERT INTO product VALUES (?, ?, ?, ?)",
    (1, "Banh mi", 10000, 50)
)
conn.commit()

hien thi danh sach

In [4]:
cur.execute("SELECT * FROM product")
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Banh mi', 10000.0, 50)

tim san pham theo ten

In [5]:
name = "Banh mi"
cur.execute("SELECT * FROM product WHERE name = ?", (name,))
print(cur.fetchall())

[(1, 'Banh mi', 10000.0, 50)]

cap nhat gia va so luong theo id

In [6]:
cur.execute(
    "UPDATE product SET price = ?, amount = ? WHERE id = ?",
    (12000, 40, 1)
)
conn.commit()

xoa san pham theo id

In [7]:
cur.execute("DELETE FROM product WHERE id = ?", (1,))
conn.commit()

In [8]:
conn.close()