In [1]:
import sqlite3

conn = sqlite3.connect("ql_nhan_vien.db")
cur = conn.cursor()

# Bảng PHONG
cur.execute("""
CREATE TABLE IF NOT EXISTS PHONG (
    id INTEGER PRIMARY KEY,
    ten_phong TEXT NOT NULL
)
""")

# Bảng NHAN_VIEN
cur.execute("""
CREATE TABLE IF NOT EXISTS NHAN_VIEN (
    id INTEGER PRIMARY KEY,
    ho_ten TEXT NOT NULL,
    tuoi INTEGER NOT NULL,
    dia_chi TEXT NOT NULL,
    luong REAL NOT NULL,
    id_phong INTEGER,
    FOREIGN KEY(id_phong) REFERENCES PHONG(id)
)
""")

conn.commit()

them phong ban

In [3]:
cur.execute("INSERT INTO PHONG VALUES (?, ?)", (1, "IT"))
conn.commit()

them nhan vien

In [2]:
cur.execute("""
INSERT INTO NHAN_VIEN VALUES (?, ?, ?, ?, ?, ?)
""", (1, "Nguyen Van A", 22, "Ha Noi", 8000000, 1))

conn.commit()

xem danh sach nhan vien

In [4]:
cur.execute("SELECT * FROM NHAN_VIEN")
for row in cur.fetchall():
    print(row)

conn.close()

(1, 'Nguyen Van A', 22, 'Ha Noi', 8000000.0, 1)