In [1]:
import sqlite3

conn = sqlite3.connect("test.db")
cur = conn.cursor()

cur.execute("INSERT INTO sinhvien VALUES (1, 'An', 20)")
cur.execute("INSERT INTO sinhvien VALUES (2, 'Bình', 21)")

conn.commit()

cur.execute("SELECT * FROM sinhvien")
print(cur.fetchall())

conn.close()

[(1, 'An', 20), (2, 'Bình', 21)]