#1

In [29]:
import numpy as np
#a
stock1=np.genfromtxt('stocks1.csv',encoding='UTF-8',names=True,delimiter=',',dtype=None)

print('5 dong dau:\n',stock1[:5])
print('5 dong cuoi:\n',stock1[-5:])
print('kieu du lieu cua cac cot:\n',stock1.dtype.fields)

print('thong tin:\n',np.info(stock1))

5 dong dau:
 [('2024-01-02', 'AAA', 100, 105,  98, 104, 10000)
 ('2024-01-03', 'AAA', 102, 106, 101, 103, 12000)
 ('2024-01-04', 'BBB',  50,  55,  48,  54,  8000)
 ('2024-01-05', 'BBB',  52,  54,  50,  51,  7500)
 ('2024-01-06', 'CCC',  80,  85,  78,  84,  9000)]
5 dong cuoi:
 [('2024-01-02', 'AAA', 100, 105,  98, 104, 10000)
 ('2024-01-03', 'AAA', 102, 106, 101, 103, 12000)
 ('2024-01-04', 'BBB',  50,  55,  48,  54,  8000)
 ('2024-01-05', 'BBB',  52,  54,  50,  51,  7500)
 ('2024-01-06', 'CCC',  80,  85,  78,  84,  9000)]
kieu du lieu cua cac cot:
 {'\ufeffdate': (dtype('<U10'), 0), 'symbol': (dtype('<U3'), 40), 'open': (dtype('int64'), 52), 'high': (dtype('int64'), 60), 'low': (dtype('int64'), 68), 'close': (dtype('int64'), 76), 'volume': (dtype('int64'), 84)}
class:  ndarray
shape:  (5,)
strides:  (92,)
itemsize:  92
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x1b7691ec790
byteorder:  little
byteswap:  False
type: [('\ufeffdate', '<U10'), ('symbol', '<U3'), ('open', '<i8'), ('high', '<i8'), ('low', '<i8'), ('close', '<i8'), ('volume', '<i8')]
thong tin:
 None

In [30]:
stock2=np.genfromtxt('stocks2.csv',encoding='UTF-8',names=True,delimiter=',',dtype=None)
print('5 dong dau:\n',stock2[:5])
print('5 dong cuoi:\n',stock2[-5:])
print('kieu du lieu cua cac cot:\n',stock2.dtype.fields)
print('thong tin:\n',np.info(stock2)),

5 dong dau:
 [('2024-02-01', 'AAA', 103, 107, 102, 106, 11000)
 ('2024-02-02', 'CCC',  84,  88,  83,  87,  9500)
 ('2024-02-03', 'AAA', 104, 108, 103, 107, 11500)
 ('2024-02-04', 'CCC',  85,  90,  84,  89,  9800)
 ('2024-02-05', 'BBB',  51,  53,  50,  52,  7600)]
5 dong cuoi:
 [('2024-02-01', 'AAA', 103, 107, 102, 106, 11000)
 ('2024-02-02', 'CCC',  84,  88,  83,  87,  9500)
 ('2024-02-03', 'AAA', 104, 108, 103, 107, 11500)
 ('2024-02-04', 'CCC',  85,  90,  84,  89,  9800)
 ('2024-02-05', 'BBB',  51,  53,  50,  52,  7600)]
kieu du lieu cua cac cot:
 {'\ufeffdate': (dtype('<U10'), 0), 'symbol': (dtype('<U3'), 40), 'open': (dtype('int64'), 52), 'high': (dtype('int64'), 60), 'low': (dtype('int64'), 68), 'close': (dtype('int64'), 76), 'volume': (dtype('int64'), 84)}
class:  ndarray
shape:  (5,)
strides:  (92,)
itemsize:  92
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x1b7691ec3f0
byteorder:  little
byteswap:  False
type: [('\ufeffdate', '<U10'), ('symbol', '<U3'), ('open', '<i8'), ('high', '<i8'), ('low', '<i8'), ('close', '<i8'), ('volume', '<i8')]
thong tin:
 None

(None,)

In [31]:
companies=np.genfromtxt('companies.csv',encoding='UTF-8',names=True,delimiter=',',dtype=None)
print(companies)

print('kieu du lieu cua cac cot:\n',companies.dtype.fields)

print('thong tin:\n',np.info(companies))

[('AAA Corp', 500, 'Hanoi', 'HN')
 ('BBB Inc', 300, 'Ho Chi Minh City', 'HCM')
 ('CCC Ltd', 800, 'Da Nang', 'DN')]
kieu du lieu cua cac cot:
 {'\ufeffname': (dtype('<U8'), 0), 'employees': (dtype('int64'), 32), 'headquarters_city': (dtype('<U16'), 40), 'headquarters_state': (dtype('<U3'), 104)}
class:  ndarray
shape:  (3,)
strides:  (116,)
itemsize:  116
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x1b7690e9730
byteorder:  little
byteswap:  False
type: [('\ufeffname', '<U8'), ('employees', '<i8'), ('headquarters_city', '<U16'), ('headquarters_state', '<U3')]
thong tin:
 None

#2

In [32]:
np.isnan(stock1['high']).any()
np.isnan(stock1['low']).any()

np.False_

#3

In [33]:
stocks = np.concatenate((stock1, stock2))
print(stocks[-15:])

[('2024-01-02', 'AAA', 100, 105,  98, 104, 10000)
 ('2024-01-03', 'AAA', 102, 106, 101, 103, 12000)
 ('2024-01-04', 'BBB',  50,  55,  48,  54,  8000)
 ('2024-01-05', 'BBB',  52,  54,  50,  51,  7500)
 ('2024-01-06', 'CCC',  80,  85,  78,  84,  9000)
 ('2024-02-01', 'AAA', 103, 107, 102, 106, 11000)
 ('2024-02-02', 'CCC',  84,  88,  83,  87,  9500)
 ('2024-02-03', 'AAA', 104, 108, 103, 107, 11500)
 ('2024-02-04', 'CCC',  85,  90,  84,  89,  9800)
 ('2024-02-05', 'BBB',  51,  53,  50,  52,  7600)]

#4

In [ ]:
stocks_companies = np.zeros(
    stocks.shape[0],
    dtype=stocks.dtype.descr + companies.dtype.descr
)

for i, row in enumerate(stocks):
    stocks_companies[i][stocks.dtype.names] = row
    company = companies[companies['name'] == row['symbol']]
    if len(company) > 0:
        stocks_companies[i][companies.dtype.names] = company[0]
stocks_companies[:5]

#5

In [35]:
symbols = np.unique(stocks['symbol'])

result_avg = []

for sym in symbols:
    mask = stocks['symbol'] == sym
    result_avg.append((
        sym,
        np.mean(stocks['open'][mask]),
        np.mean(stocks['high'][mask]),
        np.mean(stocks['low'][mask]),
        np.mean(stocks['close'][mask]),
        np.mean(stocks['volume'][mask])
    ))

result_avg = np.array(
    result_avg,
    dtype=[
        ('symbol','U10'),
        ('open_mean',float),
        ('high_mean',float),
        ('low_mean',float),
        ('close_mean',float),
        ('volume_mean',float)
    ]
)

result_avg

array([('AAA', 102.25, 106.5       , 101.        , 105.        , 11125.        ),
       ('BBB',  51.  ,  54.        ,  49.33333333,  52.33333333,  7700.        ),
       ('CCC',  83.  ,  87.66666667,  81.66666667,  86.66666667,  9433.33333333)],
      dtype=[('symbol', '<U10'), ('open_mean', '<f8'), ('high_mean', '<f8'), ('low_mean', '<f8'), ('close_mean', '<f8'), ('volume_mean', '<f8')])

#6

In [36]:
result_close = []

for sym in symbols:
    mask = stocks['symbol'] == sym
    closes = stocks['close'][mask]
    result_close.append((
        sym,
        np.mean(closes),
        np.max(closes),
        np.min(closes)
    ))

result_close = np.array(
    result_close,
    dtype=[
        ('symbol','U10'),
        ('close_mean',float),
        ('close_max',float),
        ('close_min',float)
    ]
)

result_close

array([('AAA', 105.        , 107., 103.),
       ('BBB',  52.33333333,  54.,  51.),
       ('CCC',  86.66666667,  89.,  84.)],
      dtype=[('symbol', '<U10'), ('close_mean', '<f8'), ('close_max', '<f8'), ('close_min', '<f8')])

#7

In [ ]:
parsed_time = stocks['date'].astype('datetime64[D]')
parsed_time.dtype
parsed_time[:5]

#8

In [38]:
result = np.where(stocks['close'] > stocks['open'], 'up', 'down')
result[:10]

array(['up', 'up', 'up', 'down', 'up', 'up', 'up', 'up', 'up', 'up'],
      dtype='<U4')